.contactForm {
  padding: 10px;
  width: 350px;
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1.5px solid rgba(44, 92, 58, 0.656);
  border-radius: 10px;
  margin-bottom: 10px;
}
.contactForm label span {
  display: inline-block;
  text-align: left;
  margin-bottom: 5px;
}
.contactFormInput {
  width: 230px;
  border: 1.5px solid rgb(126, 23, 23);
  border-radius: 5px;
  margin-bottom: 5px;
}
.contactFormBtn {
  display: block;
  width: 50%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}
.favColorTitle {
  padding-bottom: 20px;
}
.favColor {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: auto;
  margin-left: 50px;
}
.favColorLabel {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: 5px;
  border-radius: 5px;
  border: 1.5px solid rgb(126, 23, 23);
  background-color: #eac4c4;
}
.yellowColor {
  color: yellow;
}
.redColor {
  color: red;
}
.blueColor {
  color: blue;
}
.orangeColor {
  color: orange;
}
